# Prerequisites
*.d
*.zip
*.htm
*.manifest
*.user
*.aps
*.ncb
*.suo
Debug
Release
f_in_box

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.ocx

# Data files
*.bin
*.swf

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
